<div class="area-login-background d-none d-md-block"></div>

<!div class="container">
  <div class="area-login-background">
    <img src="img/logo-ju.png" alt="kkk">
  </div>
  <!--div class="area-form">
    <form>
      <h1 class="titulo">CRUD USERS</h1>
      <h2 class="subtitulo"> mais eficiência no controle de seus clientes</h2>

      <input [(ngModel)]="useName" [ngModelOptions]="{standalone:true} " class="input-form"  type="text" placeholder="Digite seu nome">

      <app-button textButton="Acessar" size="100" (click)="login ()"></app-button>
      <p class="footer">©️ 2024 | Desenvolvido por Israel Monteiro </p>
    </form>
  </div-->

  <div class="area-form">
    <form>
      <h1 class="titulo">CRUD USERS</h1>
      <h2 class="subtitulo"> mais eficiência no controle de seus clientes</h2>

      <input type="text" placeholder="Digite seu nome">
      <app-button textButton="Acessar"></app-button>
      <p class="footer">©️ 2024 | Desenvolvido por Israel Monteiro </p>
    </form>
  </div>

  <!--div class="container">
  <div-- class="area-login-background">
    <img src="img/logo-ju.svg" alt="kkk">
  </div-->

<!--/div>
<form class="d-flex justify-content-center"[formGroup]="formlogin" >
  <div class="col-4 mt -3">
  <div class="form-floating mb-3">
    <input formControlName="nome" type="text" class="form-control"id="name"placeholder ="Digite seu nome "/>
    <label for="nome">Nome</label>

  </div>
  <div class="form-floating mb-3">
    <input formControlName="senha" type="te" class="form-control"id="senha"placeholder ="Digite seu senha "/>
    <label for="nome">Senha</label>
  </div>
  <button (click)="submit()"class="btn btn-success w-100">Entrar</button>
</div>
</form-->
